.form {
  align-items: flex-end;
}


.input_text{
    color: #f31505;
    font-size: 12px;
}

.form_item {
  margin-right: 50px;
  margin-bottom: 9px;

  &__raiting {
    content: 'Рейтинг число';
  }
  &__instock{
    content: 'Количество число';
  }
  &__price{
    content: 'Стоимость число';
  }
}

.form_input {
  font-size: 1rem;
  cursor: pointer;
  padding-top: 8px;
  margin-bottom: 8px;
}

.button_create {
  min-width: 100px;
  border: 0;
  border-radius: 5px;
  background: #f31505;
  color: #fff;
  padding: 8px 16px;
  font-size: 1rem;
  cursor: pointer;
}
