.image {
  min-width: 18px;
  flex: 1 0 100%;
  margin-bottom: 10px;

  img {
    height:65px;
    -o-object-fit: cover;
    object-fit: cover;
  }
}

.ul {
	list-style: none;
	display: table;
}
.li {
	display: cell;
	padding: 9px 9px;
	margin: 1px 5px;
	border: 2px solid;
	float: left;
  background-color: transparent;
}